<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>For more information contact <%= contactName %>... definitely not Helder</h1>
    <img src="<%= image %>">

    <ul>
        <% for( let i = 0; i < fruit.length; i++ ) { %>
            <li><%= fruit[i] %></li>
        <% } %>
    </ul>
</body>
</html>