<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO I AM A TEMPLATE...</h1>
    <h2>steps</h2>
    <ol>
        <li>npm i ejs</li>
        <li>set view engine to ejs</li>
        <li>add .ejs templates to the views folder</li>
        <li>render the ejs template in your favourite route</li>
        <li>sprinkle ejs to taste</li>
    </ol>
</body>
</html>