<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My awesome Page</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <a href="/">Back</a>
    <h1>Student name: <%= student.name %></h1>
    
    <h2>some student details would go here...</h2>

</body>
</html>