<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi there!!!!</h1>

    <table border="1" width="300">
        <tr>
            <th>Name</th>
            <th>City</th>
        </tr>
        <% for (let i = 0; i < people.length; i++) { %>
            <tr>
                <td><%= people[i].name %></td>
                <td><%= people[i].city %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>