<header>
    <div>My Awesome Logo Image...</div>
    <nav>
        <a href="/">Home</a>
        <a href="#">Contacts</a>
        <a href="#">Gallery</a>
        <a href="#">Whatever</a>
        <a href="#">New Header Link</a>
    </nav>
</header>